/* RESET */
*{
    margin: 0; 
    padding: 0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#app-wrapper {
    height: 100vh;
    width: 100%;   
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media all and (max-width: 768px) {
    .xs-hidden {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .sm-hidden {
        display:none;
    }
}

/* Container */

.container {
    height: calc( 100% - 80px );
}

/* NAV */
nav {
    float: left;
    width: 250px;
    height: 100%;    
    background-color: black;
    overflow: hidden;
}

@media all and (max-width: 768px) {
    nav {
        width: 50px;
    }
}


/* logo */
.sptfy-logo {
    height: 80px;
    width: 180px;
    padding: 10px 20px;
}
.sptfy-logo-small {
    padding: 5px     
}


/* Nav content */
.nav-content {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc( 100% - 80px);
    padding-left: 20px;
}

@media all and (max-width: 768px) {
    .nav-content {
        padding:0 8px;
        height: calc(100% - 54px);
    }
}

.nav-content li {
    padding-top: 10px;
}

.nav-content a {
    color: grey;    
    font-weight: 900;
    font-size: 12px;
}

.nav-content a:hover {
    color: white;
}

.ms-bold a {
    color: white;
    font-weight: 900;
}

.nav-content h3 {
    text-transform: uppercase;
    font-size: 12px;  
    font-weight: 900;
    color: white;

}

.app-nav img {
    width: 12%;
    vertical-align: middle;
}


.playlist {
    overflow: hidden;
}

.playlist ul {             /*per far comparire la scrollbar quando si riduce lo schermo*/
    overflow-y: auto;
    height: 100%;
}

.playlist {
    flex-grow:1;
    padding-top: 20px;
}

.add-playlist {
    margin: 5px 0;
}

.add-playlist i {
    height: 35px;
    width: 35px;
    background-color: grey;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    color: black;   
}

.add-playlist i:hover {
    background-color: white;
}

.add {
    padding-left: 10px;
}

.add-playlist a {
    font-size: 14px;    
}


.spotify-users {
    margin-bottom: 5px;
}

.download-app {
    width: 18px;
    display: inline-block;
    margin-right: 5px
}

.download-app img {
    vertical-align: middle;
}

.get-app::after {
    content:"";
    display: block;
    width: 190px;    
    border-bottom: 1px solid grey;
    margin: 10px 0;
}

.profile span {
    color: white;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 900;
}

#account {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;    
}

@media all and (max-width: 768px) {
    .download-app {
       margin: 15px 5px;
    }
}





/* MAIN */
main {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    padding-top: 80px;    
    background-color:#141922;
    overflow-y: auto;
}

@media all and (max-width: 768px) {
    main {
        width: calc( 100% - 50px)
    }
}

/* upper menu */

.upper-menu {
    max-width: 800px;
    margin:auto;
    padding: 20px 10px;
    
}

.sptfy-menu {
    display: flex;
    flex-wrap: wrap;        
}

.sptfy-menu li {    
    width: calc( 100% / 6);
    text-align: center;
}

.green-line::after {
    content:"";
    display: block;
    width: 30px;    
    border-bottom: 2px solid green;
    margin: 5px auto;        
}

.sptfy-menu a {
    text-transform: uppercase;
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.sptfy-menu a:hover {
    color: white;
}

@media all and (max-width: 768px) {
    .sptfy-menu li {    
        width: calc( 100% / 4);        
    }
}

@media all and (max-width: 1199px) {
    .upper-menu {
        height: 140px;
    }
    .sptfy-menu {
        height: 100%;
        align-content: space-between;
        justify-content: center;
    } 
}

@media all and (min-width: 769px) and (max-width: 991px) {
    .sptfy-menu li {    
        width: calc( 100% / 3);
    }   
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .sptfy-menu li {    
        width: calc( 100% / 5);
    } 
}

/* main content */

.main-content {
    padding: 0 15px;
}

.main-content a {
    color: white;
    text-align: center;    
}

.main-content span {
    color: grey;
    font-size: 12px; 
    display: block; 
    text-align: center; 
    padding: 10px 0;     
}

.subtitle {
    padding: 20px 0;
}

.music-list {
    padding: 20px 0;
}


.recently-played {
    display: flex;
}

.recently-played li {
    width: calc( 100% / 6);
    padding: 0 5px;
}







/* FOOTER */

footer {
    height: 80px;    
    background-color: #282828;
}







/* Header Fixed */

.header-fixed {
    background-color: #080b12;
    text-align: right;
    position: fixed;    
    top: 0px;
    right: 0px;
    width: calc( 100% - 250px);
    height: 80px;
}

@media all and (max-width: 768px) {
    .header-fixed {
        width: calc( 100% - 50px);
    }
}

