/* RESET */
*{
    margin: 0; 
    padding: 0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif
}

#app-wrapper {
    height: 100vh;
    width: 100%;   
}


@media all and (max-width: 768px) {
    .xs-hidden {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .sm-hidden {
        display:none;
    }
}

/* Container */

.container {
    height: calc( 100% - 80px );
}

/* NAV */
nav {
    float: left;
    width: 250px;
    height: 100%;    
    background-color: black;
    overflow: hidden;
}

@media all and (max-width: 768px) {
    nav {
        width: 50px;
    }
}


/* logo */
.sptfy-logo {
    height: 80px;
    width: 180px;
    padding: 10px 20px;
}
.sptfy-logo-small {
    padding: 5px     
}


/* Nav content */
.nav-content {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc( 100% - 80px);
    padding-left: 20px;
}

@media all and (max-width: 768px) {
    .nav-content {
        padding:0 8px;
        height: calc(100% - 54px);
    }
}

.nav-content ul {
    list-style-type: none;
}
.nav-content li {
    padding-top: 10px;
}

.nav-content a {
    color: grey;
    text-decoration: none;
    font-weight: 900;
    font-size: 12px;
}

.ms-bold a {
    color: white;
    font-weight: 900;
}

.nav-content h3 {
    text-transform: uppercase;
    font-size: 12px;  
    font-weight: 900;
    color: white;

}

.app-nav img {
    width: 12%;
    vertical-align: middle;
}

.playlist {
    overflow: hidden;
}

.playlist ul {             /*per far comparire la scrollbar quando si riduce lo schermo*/
    overflow-y: auto;
    height: 100%;
}

.playlist {
    flex-grow:1;
    padding-top: 20px;
}

.add-playlists {
    margin: 5px 0;
}

.add {
    height: 35px;
    width: 35px;
    background-color: grey;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;    
}

.add-playlists a {
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
}

.spotify-users {
    margin-bottom: 5px;
}

.download-app {
    width: 18px;
    display: inline-block;
    margin-right: 5px
}

.download-app img {
    vertical-align: middle;
}

.get-app::after {
    content:"";
    display: block;
    width: 190px;
    color: grey;
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.profile a {
    color: white;
    padding-left: 10px;
}

#account {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;    
}

@media all and (max-width: 768px) {
    .download-app {
       margin: 15px 5px;
    }
}





/* MAIN */
main {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    padding-top: 80px;    
    background-color:#141922;
}

@media all and (max-width: 768px) {
    main {
        width: calc( 100% - 50px)
    }
}







/* FOOTER */

footer {
    height: 80px;    
    background-color: #282828;
}







/* Header Fixed */

.header-fixed {
    background-color: #080b12;
    text-align: right;
    position: fixed;    
    top: 0px;
    right: 0px;
    width: calc( 100% - 250px);
    height: 80px;
}

@media all and (max-width: 768px) {
    .header-fixed {
        width: calc( 100% - 50px);
    }
}