/* RESET */
*{
    margin: 0; 
    padding: 0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#app-wrapper {
    height: 100vh;
    width: 100%;   
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.music-list {
    padding: 20px 0;
}

.subtitle {
    padding: 20px 0;
}

@media all and (max-width: 768px) {
    .xs-hidden {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .sm-hidden {
        display:none;
    }
}

/* Container */

.container {
    height: calc( 100% - 80px );
}

/* NAV */
nav {
    float: left;
    width: 250px;
    height: 100%;    
    background-color: black;
    overflow: hidden;
}

@media all and (max-width: 768px) {
    nav {
        width: 50px;
    }
}


/* logo */
.sptfy-logo {
    height: 80px;
    width: 180px;
    padding: 10px 20px;
}
.sptfy-logo-small {
    padding: 5px     
}


/* Nav content */
.nav-content {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc( 100% - 80px);
    padding-left: 20px;
}

@media all and (max-width: 768px) {
    .nav-content {
        padding:0 8px;
        height: calc(100% - 54px);
    }
}

.nav-content li {
    padding-top: 10px;
}

.nav-content a {
    color: grey;    
    font-weight: 900;
    font-size: 12px;
}

.nav-content a:hover {
    color: white;
}



.ms-bold a {
    color: white;
    font-weight: 900;
}

.nav-content h3 {
    text-transform: uppercase;
    font-size: 12px;  
    font-weight: 900;
    color: white;

}

.app-nav img {
    width: 12%;
    vertical-align: middle;
}


.playlist {
    overflow: hidden;
}

.playlist ul {             /*per far comparire la scrollbar quando si riduce lo schermo*/
    overflow-y: auto;
    height: 100%;
}

.playlist {
    flex-grow:1;
    padding-top: 20px;
}

.add-playlist {
    margin: 5px 0;
}

.add-playlist i {
    height: 35px;
    width: 35px;
    background-color: grey;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    color: black;   
}

.add-playlist i:hover {
    background-color: white;
}

.add {
    padding-left: 10px;
}

.add-playlist a {
    font-size: 14px;    
}


.spotify-users {
    margin-bottom: 5px;
}

.download-app {
    width: 18px;
    display: inline-block;
    margin-right: 5px
}

.download-app img {
    vertical-align: middle;
}

.get-app::after {
    content:"";
    display: block;
    width: 190px;    
    border-bottom: 1px solid grey;
    margin: 10px 0;
}

.profile span {
    color: white;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 900;
}

#account {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;    
}

@media all and (max-width: 768px) {
    .download-app {
       margin: 15px 5px;
    }
}





/* MAIN */
main {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    padding-top: 80px;    
    background-color:#141922;
    overflow-y: auto;
}

@media all and (max-width: 768px) {
    main {
        width: calc( 100% - 50px)
    }
}

/* upper menu */

.upper-menu {
    max-width: 800px;
    margin:auto;
    padding: 20px 10px;
    
}

.sptfy-menu {
    display: flex;
    flex-wrap: wrap;        
}

.sptfy-menu li {    
    width: calc( 100% / 6);
    text-align: center;
}

.green-line::after {
    content:"";
    display: block;
    width: 30px;    
    border-bottom: 2px solid green;
    margin: 5px auto;        
}

.sptfy-menu a {
    text-transform: uppercase;
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.sptfy-menu a:hover {
    color: white;
}

@media all and (max-width: 768px) {
    .sptfy-menu li {    
        width: calc( 100% / 4);        
    }
}

@media all and (max-width: 1199px) {
    .upper-menu {
        height: 140px;
    }
    .sptfy-menu {
        height: 100%;
        align-content: space-between;
        justify-content: center;
    } 
}

@media all and (min-width: 769px) and (max-width: 991px) {
    .sptfy-menu li {    
        width: calc( 100% / 3);
    }   
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .sptfy-menu li {    
        width: calc( 100% / 5);
    } 
}

/* main content */

.main-content {
    padding: 0 15px;
}

.main-content a {
    color: white;
    text-align: center;    
}

.main-content span {
    color: grey;
    font-size: 12px;
    font-weight: 600; 
    display: block; 
    text-align: center; 
    padding: 10px 0;     
}

.main-content p {
    color: grey;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 0;
}

.music-played {
    display: flex;
    flex-wrap: wrap;
}

.music-played li {
    width: calc( 100% / 6);
    padding: 0 5px;    
}

.music-box {
    position: relative;
}

.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    font-size: 50px;
    cursor: pointer;
    display: none;    
}

.music-box:hover .layover,
.music-box:hover .play-circle {
    display: block;
}

@media all and (max-width: 991px) {
    .music-played li {
        width: calc( 100% / 2);        
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .music-played li {
        width: calc( 100% / 4);        
    }
}

.most-popular .layover,
.most-popular img {
    border-radius: 50%;
}

 
/* FOOTER */

footer {
    height: 80px;    
    background-color: #282828;
}

.footer-content {
    height: 80px;
    padding: 0 5px;
    display: flex;
    align-items: center;    
}

.footer-content a {
    color: white;
}

/* album */

.album {
    flex-grow: 1;
}

.album-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.album-title {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;

}

.album-title span {
    color: grey;
    font-size: 10px;;
}

.album-title span:hover {
    text-decoration: underline;
}

/* favorite songs */

.favorite-songs {
    flex-grow: 1;
}

.favorite-songs i {
    color: grey;
    padding-left: 10px;
}

.favorite-songs i:hover {
    color: white;
}

@media all and (max-width: 768px) {
    .album-img {
        width: 30px;
        height: 30px;
    }
    .favorite-songs a {
        display: block;
    }
}

/* player */

.player {
    flex-grow: 10;
    text-align: center;
}

.smaller-btn {
    font-size: 12px;
    padding: 0 5px; 
    color: white;   
}
.play-btn {
    font-size: 30px;
    padding: 0 15px;
    vertical-align: middle;
    color: white;
    transition: all 300ms;
}
.play-btn:hover {
    transform: scale(1.5);
}

[class*="-time"] {
    font-size: 9px;
    font-weight: 800;    
}

.left-time {
    padding-right: 10px;
}

.right-time {
    padding-left: 10px;
}

.grey-bar {
    height: 3px;
    width: 60%;
    display: inline-block;
    background-color: grey;
    border-radius: 20px;
    margin: 2px 0;
    position: relative;
}
.white-bar {
    height: 3px;
    width: 35%;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.white-bar:hover {
    background-color: chartreuse;
}

.grey-bar i {
    position: absolute;
    left: 35%;
    bottom: -3px;
    font-size: 10px;  
    display: none; 
}

.grey-bar:hover i {
    display: block;    
}

/* volume */

.volume {
    flex-grow: 3;
    text-align: right;
}

.volume i {
    font-size: 12px;
    padding-left: 10px
}

.vol-bar {
    height: 3px;
    width: 40%;
    display: inline-block;
    background-color: grey;
    border-radius: 20px;    
    position: relative; 
    vertical-align: middle; 
    margin-left: 10px;  
}

.vol-white-bar {
    height: 3px;
    width: 25%;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.vol-bar i {
    position: absolute;
    left: 15%;
    top: -3px;
    font-size: 10px;
    display: none;
}

.vol-white-bar:hover {
    background-color: chartreuse;
}

.vol-bar:hover i {
    display: block;
}

@media all and (max-width: 768px){
    .volume {
        flex-grow: 11;
    }
   
}










/* Header Fixed */

.header-fixed {
    background-color: #080b12;
    text-align: right;
    position: fixed;    
    top: 0px;
    right: 0px;
    width: calc( 100% - 250px);
    height: 80px;
}

@media all and (max-width: 768px) {
    .header-fixed {
        width: calc( 100% - 50px);
    }
}

.upgrade-btn {
    text-transform: uppercase;
    color: white;
    background-color: #080b12;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 300ms;  
}

.upgrade-btn:hover { 
    transform: scale(1.3);
}

.upgrade-btn {
    margin: 30px 30px;
}

